.row
  composes row from '../Layout/layout.styl'

.column
  composes column from '../Layout/layout.styl'
  text-align center

.stats-list
  padding 10px 0
  font-family roboto
  height 100%
  display flex
  flex-direction column
  justify-content space-around
  border-right 2px solid #e6edf4

  @media screen and (max-width: 769px)
    border-bottom 2px solid #e6edf4

  li
    color #65737E
    margin 10px

    span
      color black
      font-size 2.5em
      font-weight bold

.times
  height 100%
  display flex
  flex-direction column
  position relative
