.row
  composes row from '../Layout/layout.styl'
  height 500px

.column
  composes column from '../Layout/layout.styl'
  text-align center

.stats-list
  font-family roboto
  height 100%
  display flex
  flex-direction column
  justify-content space-around
  font-weight bold
  border-right 2px solid #e6edf4

  @media screen and (max-width: 769px)
    margin-top 20px
    border-bottom 2px solid #e6edf4

  li
    color #636E81

    span
      color black
      font-size 4em
