{
  "plugins": [
    "react"
  ],

  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },

  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },

  "rules": {
    "comma-dangle": 2,
    "curly": 2,
    "eqeqeq": 2,
    "key-spacing": 1,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-no-undef": 2,
    "object-shorthand": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-var": 2,
    "prefer-arrow-callback": 2,
    "prefer-template": 2,
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "arrow-spacing": 1,
    "space-after-keywords": 1,
    "space-before-keywords": 1,
    "space-before-blocks": 1,
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "spaced-comment": 1
  }
}
