.timer
  font-family 'Roboto'
  font-size 10em
  font-weight 300
  margin 50px 0
  text-align center

  @media screen and (max-width 768px)
    font-size 8em

.timer-idle, .timer-failure
  composes timer
  color black

.timer-success
  composes timer
  color lime

.timer-pending
  composes timer
  color red
