.timer
  font-family 'Roboto'
  font-size 10em
  font-weight 400
  text-align center
  margin 0

  @media screen and (max-width 768px)
    font-size 8em

.timer-paused, .timer-initializing, .timer-uninitialized, .timer-ready, .timer-running
  composes timer

.timer-initializing
  color red

.timer-ready
  color rgb(0, 221, 0)
