.logo
  text-transform uppercase
  letter-spacing 10px

.menu
  position relative
  width 3.25rem
  cursor pointer
  background-color #4a4a4a
  display block
  height 1px
  left 50%
  margin-left -7px
  position absolute
  top 50%
  -webkit-transition none .2s ease-out
  transition none .2s ease-out
  -webkit-transition-property background, left, opacity, -webkit-transform
  transition-property background, left, opacity, -webkit-transform
  transition-property background, left, opacity, transform
  transition-property background, left, opacity, transform, -webkit-transform
  width 15px
