@font-face
  font-family 'Digital'
  src url('../../../public/fonts/Digital-7Mono.eot')
  src url('../../../public/fonts/Digital-7Mono.eot?#iefix') format('embedded-opentype'), url('../../../public/fonts/Digital-7Mono.woff') format('woff'), url('../../../public/fonts/Digital-7Mono.ttf') format('truetype')
  font-weight normal
  font-style normal

html, body
  margin 0
  padding 0
  background-color white
  color #070707
