footer
  .container
    .row
      ul
        li.col.s3.m2.offset-m2
          a(href="") Source
        li.col.s3.m2
          a(href="") Contribute
        li.col.s3.m2
          a(href="") API Docs
        li.col.s3.m2
          a(href="") Help

  p Created by #[a(href='http://saadquadri.com') Saad Quadri] and released under the #[a(href='https://github.com/saadq/cube-stats/blob/master/LICENSE') MIT License]
