meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
title Flow Timer
link(href='/img/favicon.ico' rel='shortcut icon')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='/css/main.css', type='text/css', rel='stylesheet', media='screen,projection')
