doctype html
html(lang='en')
  head
    include ./partials/head.jade
  body#register
    block content

    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='/js/materialize.min.js')
