extends login

block content
  .container
    .row
      .register-wrapper.col.s10.m6.offset-s1.offset-m3
        h2 #[a(href='/') Flow]
        .divider
        p Create an Account
        form
          .input-field.col.s10.offset-s1
            i.material-icons.prefix person
            input(id='username' type='text', class='validate')
            label(for='username') Username
          .input-field.col.s10.offset-s1
            i.material-icons.prefix vpn_key
            input(id='password' type='password', class='validate')
            label(for='password') Password
          .input-field.col.s10.offset-s1
            i.material-icons.prefix vpn_key
            input(id='confirm' type='password', class='validate')
            label(for='confirm') Confirm Password
          button.btn-large.waves-effect.waves-light.col.s4.offset-s4(type='submit') Register
        p.col.s12 Already registered? #[a(href='/login/sign-in') Sign In]
