extends layout

block content
  main
    .container
      h3(style='margin-top: 20px') All Times
      .divider
      .row
        table.striped.highlight.centered.col.s12.responsive-table
          thead
            tr
              th(data-field='id') Date
              th(data-field='name') Time
              th(data-field='price') Cross
              th(data-field='price') F2L
              th(data-field='price') OLL
              th(data-field='price') PLL
              th(data-field='price') Scramble
          tbody
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:31:30 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
            //- tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.colpur.ple.bt.s4n.waves-effect.waves-light Get Scramble]
            //- tr
              td 11/25/2015, 9:26:37 AM
              td #[strong 00 : 29 . 40]
              td 00 : 05 . 16
              td 00 : 14 . 63
              td 00 : 05 . 30
              td 00 : 04 . 31
              td #[button.col.s8.offset-s2.btn.waves-effect.waves-light Scramble]
