.hero
  align-items stretch
  background-color #fff
  display flex
  flex-direction column
  justify-content space-between
  min-height 100vh

.head
  flex-grow 0
  flex-shrink 0

.body
  display flex
  align-items center
  justify-content center
  flex-direction column
  flex-grow 1
  flex-shrink 0

.foot
  flex-grow 0
  flex-shrink 0

.container
  display flex
  flex-direction column
  flex-grow 1
  flex-shrink 1
  text-align center
  justify-content center

.row
  display flex

  @media screen and (max-width: 769px)
    display block

.column
  display block
  flex-basis 0
  flex-grow 1
  flex-shrink 1
