@import url('https://fonts.googleapis.com/css?family=Lato')

.nav
  height 7em
  box-shadow 0 2px 0 rgba(219, 219, 219, .3)

.nav-center
  display flex
  justify-content center
  align-items stretch
  margin-left auto
  margin-right auto
  height 100%

.scramble
  font-family 'Lato'
  font-size 1.25em
  font-weight 300
  text-transform uppercase
  word-spacing 20px
  line-height 1.5
  display flex
  align-items center
  height 100%
  margin 20px
  margin-top 0
