.scramble
  font-family 'Roboto'
  color #7e899b
  font-size 1.25em
  font-weight bold
  padding 25px 0
  text-transform uppercase
  word-spacing 15px
  line-height 1.5
  text-align center
  border-top 1.25px solid #e6edf4
  border-bottom 1.25px solid #e6edf4
  margin-bottom 0

.row
  composes row from '../Layout/layout.styl'
  margin 0
  padding 0

.column
  composes column from '../Layout/layout.styl'
  padding 0
