.hero
  align-items stretch
  background-color #fff
  display flex
  flex-direction column
  justify-content space-between
  min-height 100vh

.head
  flex-grow 0
  flex-shrink 0

.body
  display flex
  align-items center
  flex-grow 1
  flex-shrink 0

.container
  flex-grow 1
  flex-shrink 1
  text-align center

.nav-bar
  background #fff !important
